# Ignore IntelliJ IDEA files
.idea/

# Ignore Eclipse project files
.project
.classpath

# Ignore build files
target/
bin/

# Ignore Maven dependencies
.m2/

# Ignore logs
*.log

# Ignore the reports
test-output/
