<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LambdaTest(TASK2)" parallel="false">
	<listeners>
	        <listener class-name="utils.ExtentReportManager"/>
    </listeners>
    <test name="Launch Browser Test">
        <classes>
            <class name="tests.task2.LaunchBrowserTest"/>
        </classes>
    </test>
    <test name="Dropdown Test">
        <classes>
            <class name="tests.task2.DropdownTest"/>
        </classes>
    </test>
</suite>

